{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">About Us...</h1>
        <p class="lead fw-normal text-white-50 mb-0">
          This is a example
        </p>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
        <center>
            <div class="col-8">






<p align="justify">
<br/><br/>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque velit in metus dapibus tristique. Aliquam tincidunt tincidunt tempus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
Nullam interdum sed leo ac convallis. Vivamus id ante sapien. Quisque maximus mauris et aliquet dapibus. Morbi mollis ligula nec lacus consequat malesuada. Maecenas venenatis vel nibh at faucibus.
Sed a tincidunt ex, ut accumsan tellus. Vivamus laoreet eu quam nec vehicula. Curabitur quis ligula et est dignissim consequat iaculis quis arcu. Suspendisse et nulla fringilla, semper orci id, congue dui.
In hac habitasse platea dictumst.
<br/><br/>
Nunc pharetra leo in lacus accumsan congue. Cras id vestibulum orci, ut consectetur nibh. Aliquam tristique eros a leo facilisis, ut fermentum leo ullamcorper. Donec sed leo lorem. Nulla facilisi.
Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec vel velit augue. Quisque justo arcu, dapibus eu magna eu, consectetur bibendum urna.
<br/><br/>
Praesent efficitur justo eu tincidunt cursus. Pellentesque laoreet blandit nulla, ut pretium purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean tortor leo,
gravida et commodo et, porta et lectus. Fusce vitae arcu pretium, cursus nulla ut, pellentesque nisl. Maecenas elementum, tellus non tincidunt interdum, felis velit elementum ante,
nec egestas ipsum odio non tortor. Vestibulum quis commodo nibh, id egestas ligula. Pellentesque lobortis lectus ac tortor eleifend, ut molestie mi dictum. Sed mi sapien, tincidunt id rutrum vel,
vestibulum sed dolor. Duis dapibus nisi consequat elementum viverra. Donec tincidunt dolor quis libero dapibus, et pulvinar odio egestas.
</p>
<br/><br/>
            </div>
        </center>
    </div>
  </div>

{% endblock %}
